{
	auto_https off
}

(common) {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy no-referrer-when-downgrade
	}
}

http://localhost, http://127.0.0.1 {
	import common

	@docs_root path /docs
	redir @docs_root /docs/ 308

	handle /docs/* {
		reverse_proxy swagger-ui:8080
	}

	reverse_proxy gateway-api:8080
}
